- can_see_analytics_dashboards = project_analytics_dashboard_available?(@project)

- return unless can_see_analytics_dashboards

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = s_('ProjectSettings|Analytics')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('ProjectSettings|Configure analytics features for this project')
  .settings-content
    = render 'projects/settings/analytics_dashboards'

